<script type="text/javascript">
  window.room = '<%= params[:room] %>';
  console.log('Room is set to '+room);
  // alert("Room id is "+window.room);
</script>

  <!-- Chat demo -->
  <div class="demo">
    <div class="demo-connect">
      <input type="text" class="demo-chat-channel-input form-control" placeholder="Channel name"></input>
    </div>
    <div class="demo-chat inactive" id="message-box">
      <div class="demo-chat-input">
      <input name="message" id="new-msg" data-id="<%= params[:id] %>" class="demo-chat-message-input form-control" placeholder="Message"></input>
      <button class="demo-chat-send btn btn-primary">Send</button>
    </div>
    <ul id="messages" class="demo-chat-messages list-group">
      
    </ul>
  </div>
  
  </div>
  <!-- / Chat demo -->