/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides


 */


.welcome-message {
  color: white;
  width: 200px;
 }

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

#search-baaaaar {
  position: absolute;
  z-index: 4;
  top: 450px;
  left: 25%;
  width: 50%;
  display: block;
}

#search-baaaaar #skill_name {
  display: inline-block;
  box-shadow: #D3D3D3 0.5px 5px;
  font-family: PTSansBold,Helvetica,Arial,sans-serif;
  width: 80%; 
}

#search-baaaaar #submit {
  box-shadow: #006486 1px 5px;
  font-size: 0.9em;
  font-family: PTSansBold,Helvetica,Arial,sans-serif;
  width: 18%;
}

#search-baaaaar #submit:focus{
  outline: 0;
}

.button:focus{
  background-color: #008CBA;
}

#map.filter {
  background-color: #1abc9c;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 1;
  top: 3.5em;
  position: absolute;
}

#geolocation {
  position: absolute;
  top: 3.5em;
  height: 100%;
  width: 100%;
}

#gmap {
  position:fixed;
  height: 100%;
  width: 100%;
}

#map.map-header {
  vertical-align: middle;
} 

.header-text {
  text-transform: uppercase;
  color: white;
  z-index: 4;
  margin-top: 3.5em;
  margin-left: auto;
  margin-right: auto;
  font-size: 5em;
  text-align: center; 
  text-shadow: rgb(20, 144, 120) 1px 1px;
  position: relative;
}

.header-text p {
  font-family: PTSansBold,Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 30%;
}

#volume {
  position: absolute;
  z-index: 4;
  top:4em;
  left:2em;
  box-shadow: #006486 1px 5px;
}
