#filter {
  background-color: lightgreen;
  width: 100%;
  height: 803px;
  opacity: 0.5;
  z-index: 1;
  top: 3.5em;
  position: absolute;
}


nav {

    height: 3.5em;
    width: 100%;
    background-color: #4d9e13;
    position: fixed;
    z-index: 2;
  

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: green;
    }

    &:focus {
      text-decoration: none;
      color:white;
    }

  }

  div {
    float: left;
  }

  ul {
    float: right;
    position: relative;
    top: 1em;
  

    li {
      float: left;
      display: inline-block;
      width: 70px;
      height: 2em;
    }
  }


  #login-form {
    position: absolute;
    z-index: 2;
    top:3em;
    right:2em;
    width: 300px;
    display: none;
    padding-top: 1em;

    

    &.clicked {
      display: block;
    }
  }

  .button.tiny {
    background-color: #4D9E13;
  }
}



