nav {

    height: 3.5em;
    width: 100%;
    background-color: #30c2a5;
    position: fixed;
    z-index: 2;
    box-shadow: rgb(20, 144, 120) 1px 5px;
    font-family:  PTSansBold,Helvetica,Arial,sans-serif;
    font-weight: bold;

  a {
    color: white;
    text-decoration: none;
    text-shadow: rgb(20, 144, 120) 1px 1px;

    &:hover {
      color: #008CBA;
    }

    &:focus {
      text-decoration: none;
      color:white;
    }

  }

  div {
    float: left;
  }

  ul {
    float: right;
    position: relative;
    top: 1em;
    text-transform: uppercase;


    li {
      float: left;
      display: inline-block;
      padding-left: 5px;
      padding-right: 10px;
      height: 2em;
    }
  }


  #login-form {
    position: absolute;
    z-index: 2;
    top:3em;
    right:2em;
    width: 300px;
    display: none;
    padding-top: 1em;

    &.clicked {
      display: block;
    }
  }

  #signup-form {
    position: absolute;
    z-index: 3;
    width: 300px;
    height: 300px;
    left: 40%;
    top: 120px;
    display: none;

    &.clicked {
      display: block;
    }
  }
}
  .logo {
    font-size: 2em;
    margin-left: 1em;
  }

.share-icon {
  font-size: 2em;
  position: absolute;
  margin-left: -30px;
  margin-top: -12px;
}