<nav>
  <div>
      <h1><a href="#">LOCI</a></h1>
  </div>

  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#" id="login-button">Login</a></li>
    <li><a href="#">Sign Up</a></li>
  </ul>

  <div id="login-form">
    <%= form_for :user do |f| %>
      <% f.label :email %>
      <%= f.text_field :email, :placeholder => "Email" %>

      <% f.label :password %>
      <%= f.password_field :password, :placeholder => "Password" %>

      <div><%= f.submit "Submit", :class => "button tiny" %></div>
    <%end%>
  </div>

  <div id="signup">
    <% form_for :user do %>
    <%end%>
  </div>
</nav>